body {
    background:#121212;
    color:white;
    font-family: "Comic Sans MS", serif;
}

button {
    padding-right: 2.5%;
    padding-left: 2.5%;
}

table, td, th {
    color:#E3B819;
    border: 1px solid;
    min-width: 10vw;
    margin-left: auto;
    margin-right: auto;
}

#addbut {
    background-color: green;
}

#rembut {
    background-color: red;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.grid-title {
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
}

.grid-instruction {
    grid-row: 2;
    font-family: "Times New Roman", serif;
    font-size: large;
}

.grid-form {
    grid-row: 3;
}

.grid-results {
    grid-row: 4;
    margin-left: auto;
    margin-right: auto;
}

.grid-table {
    grid-row: 5;
}

ul {
    list-style: none;
    padding-left: 1%;
    padding-bottom: 2%;
}

li {
    position: relative;
    padding-left: 30px;
}

li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('../assets/pokeball.png');
    background-size: contain;
    background-repeat: no-repeat;
}

